*{
  font-family: 'Roboto Condensed', sans-serif;
}
#p1{
  background-color: blue;
}
#p2{
  background-color: white;
}
#p3{
  background-color: red;
}
.img{
  max-width: 500px;
  width: 100%;
}
input{
  width: 150px;
}
